<form action="/new/host" role="form" name="add_host_form" id="add_host" method="POST">
  <div class="form-host form-group">
    <label>Название</label>
    <input type="text" class="form-control" name="host_name" placeholder="Введите название">
    <label>IP/Имя</label>
    <input type="text" class="form-control" name="host_ip" placeholder="8.8.8.8 или yahoo или google.com">
    <label>Группа</label>
    <select class="form-control" name="host_group" id="host_group"></select>
  </div>
	<button type="submit" class="btn btn-default">Добавить</button>
</form>
<table class="table host_table table-striped">
  <thead>
  	<tr>
  		<th>Название</th>
      <th>IP/Имя</th>
      <th>Группа</th>
  		<th>X?</th>
  	</tr>
  </thead>
  <tbody>
	<% hosts.forEach(function(h){ %>
		<tr id="<%= h.id %>" class="hosts-row">
    <td>
      <div id="name" class="edit-name-of-host" data-type="text" data-pk="<%= h.id %>" data-url="/edit/hosts" data-title="Введите имя хоста"><%= h.name %></div>
    </td>
    <td>
      <div id="ip_or_name" class="edit-ip-or-name" data-type="text" data-pk="<%= h.id %>" data-url="/edit/hosts" data-title="Введите ip или доменное имя хоста"><%= h.ip_or_name %></div>
    </td>
    <td>
      <div id="group_id" class="edit-group-id" data-type="select2" data-pk="<%= h.id %>" data-url="/edit/hosts" data-value="<%= h.group_id %>" data-title="Выберите необходимую группу"><%= h.group_name %></div>
    </td>
    <td>
      <span class="delete delete-host" id="<%= h.id %>">X</span>
    </td>
    </tr>
	<% }) %>
	</tbody>
</table>